In [219]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
from nltk.util import ngrams 
from nltk.corpus import stopwords
from collections import defaultdict

# read csv file
df = pd.read_csv('tripadvisor_hotel_reviews.csv')

In [229]:
# -------------------------------------------------------------------------Q1
# # get only reviews with 5 rating
five_rating_reviews = df[(df['Rating'] == 5)]

full_review = five_rating_reviews['Review'].tolist()
phrases_count = defaultdict(int)
stop_words = set(stopwords.words('english'))

# get the count of bigrams/2 word phrases
for review in full_review:
    review = "".join([x for x in review if x != ','])
    # remove stop words
    review = " ".join([word for word in str(review).split() if word not in stop_words])
    word = review.split()
    # get bigrams/2 word phrases
    bigrams = ngrams(word, 2)
    for p in bigrams:
        phrases_count[p] += 1
        
# remove phrases with less than 100 occurances
phrases_count = {key:val for key, val in phrases_count.items() if val > 100}

In [230]:
# put common phrases and counts into dataframe
df_phrases_count = pd.DataFrame(phrases_count.items(), columns=['Phrase', 'Count'])
df_phrases_count = df_phrases_count.sort_values(by='Count', ascending=False)

# 20 most common phrases in 5 rating reviews
df_phrases_count.head(20)

                  Phrase  Count
5      (staff, friendly)    957
31     (great, location)    951
51        (great, hotel)    914
30             (ca, n't)    911
110   (recommend, hotel)    814
60        (hotel, great)    780
49   (friendly, helpful)    735
29   (highly, recommend)    727
46   (walking, distance)    704
17        (hotel, staff)    612
246        (punta, cana)    582
12       (stayed, hotel)    547
111        (place, stay)    529
16    (definitely, stay)    494
39         (stay, hotel)    492
8       (staff, helpful)    490
19       (hotel, stayed)    486
146          (new, york)    477
170       (minute, walk)    471
38       (room, service)    466

In [132]:
# # # get only reviews with 5 rating
# five_rating_reviews = df[(df['Rating'] == 5)]

# full_review = five_rating_reviews['Review'].tolist()
# review_words = dict()
# for review in full_review:
#     review = review.replace(",", "")
#     words = review.split()
#     for w in words:
#         if w in review_words:
#             review_words[w] += 1
#         else:
#             review_words[w] = 1

In [133]:
# df_review_words = pd.DataFrame(review_words.items(), columns=['Word', 'Count'])
# df_review_words = df_review_words.sort_values(by='Count', ascending=False)
# df_review_words.head(20)

          Word  Count
5        hotel  21821
17        room  12126
1        great  10665
152        not   8962
49       staff   7807
2         stay   6823
40         n't   6410
202       good   5705
113       just   5163
212     stayed   4817
7     location   4807
328      rooms   4652
31        nice   4407
39         did   4328
480  breakfast   4141
45     service   4138
4         time   3958
337      clean   3840
8    excellent   3669
505        day   3586

In [ ]:
# -------------------------------------------------------------------------Q2
# get the # of reviews per rating
group_rating = df.groupby('Rating').size().reset_index()
group_rating.rename(columns = {0:'Count'}, inplace=True)

plot2 = sns.barplot("Rating", "Count", data=group_rating, palette="autumn_d")
plot2.set_title("Number of Reviews Per Rating")

In [ ]:
# -------------------------------------------------------------------------Q3
# get the length of each review (by words)
df['Words'] = [len(x.split()) for x in df['Review'].tolist()]
rating_length = df[['Rating', 'Words']]
sns.violinplot("Rating", "Words", data=rating_length)